<?xml version="1.0" encoding="utf-8"?>
<manifest package="ru.my.wacleaner"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="WA Cleaner (LSPosed)"
        android:icon="@android:drawable/ic_menu_delete"
        android:theme="@android:style/Theme.Black.NoTitleBar">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Clean WA light_prefs on close" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>
